{% extends "nhsuk/template.njk" %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle -%}
  {% if title %}{{ title }} - {% endif %}NHS Technology Enhanced Learning design system
{%- endblock %}

{% block head %}
  <link href="/assets/css/main.css" rel="stylesheet" />

  <meta property="og:url" content="https://design-system.tel.nhs.uk/"/>
  <meta property="og:site_name" content="nhs.uk"/>
  <meta property="og:title" content="NHS TEL design system"/>
  <meta property="og:description" content="Design and build accessible services with the NHS Technology Enhanced Learning design system. Use TEL Frontend to learn from the work and experiences of others."/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_GB"/>
  {# TODO: Understand what url this og:image below is suppossed to be pointing at #}
  <meta property="og:image" content="https://design-system.tel.nhs.uk/assets/images/open-graph.png"/>

{% endblock %}

{% block header %}
  {{ header({
    service: {
      text: 'TEL design system<span class="nhsuk-u-visually-hidden"> homepage</span>' | safe,
      href: '/'
    },
    navigation: {
      items: [
        {
          href: '/components/',
          text: 'Components',
          active: page and page.url and '/components/' in page.url
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: 'https://github.com/TechnologyEnhancedLearning/tel-frontend',
          text: 'Code on Github'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# 1. This loads your bundled JS (built by Gulp/Rollup) #}
  <script src="/assets/js/main.js"></script>

  {# 2. Initialize NHS UK components #}
  <script type="module" src="/nhsuk-frontend/dist/nhsuk/nhsuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/dist/nhsuk/nhsuk-frontend.min.js'
    initAll()
  </script>

{# YOUR TEL Frontend JS #}
  <script type="module">
    // Using the absolute path to your source file to bypass any build/dist issues
    import { initAll as initTEL } from '/src/all.js';
    initTEL();
  </script>
{% endblock %}
