---
layout: layouts/example.njk
title: Left Hand Side Navigation - All States
description: A comprehensive example of the LHS Navigation component demonstrating all combinations of status and lock states.
arguments: lhs-navigation
---
{% from 'tel/components/lhs-navigation/macro.njk' import telLhsNavigation %}

{{ telLhsNavigation({
  showLocks: true,
  showStatus: true,
  items: [
    {
      text: "Complete, unlocked",
      href: "#",
      locked: false,
      status: "complete"
    },
    {
      text: "Complete, locked",
      href: "#",
      locked: true,
      status: "complete"
    },
    {
      text: "Unstarted, unlocked",
      href: "#",
      locked: false,
      status: "unstarted"
    },
    {
      text: "Unstarted, locked",
      href: "#",
      locked: true,
      status: "unstarted"
    },
    {
      text: "No status, unlocked",
      href: "#",
      locked: false,
      status: "false"
    },
    {
      text: "No status, locked",
      href: "#",
      locked: true,
      status: "false"
    }
  ]
}) }}