---
layout: layouts/example.njk
title: Left Hand Side Navigation - Simple
description: A simple example of the LHS Navigation component with top-level items only.
arguments: lhs-navigation
---
{% from 'tel/components/lhs-navigation/macro.njk' import telLhsNavigation %}

{{ telLhsNavigation({
  showLocks: false,
  showStatus: false,
  activeHref: "#2",
  items: [
    {
      text: "Navigation title 1",
      href: "#1"
    },
    {
      text: "Navigation title 2",
      href: "#2"
    },
    {
      text: "Navigation title 3",
      href: "#3"
    },
    {
      text: "Navigation title 4",
      href: "#4"
    },
    {
      text: "Navigation title 5",
      href: "#5"
    }
  ]
}) }}