{% extends "layouts/base.njk" %}

{% block header %}
  {{ super() }}

  <section class="nhsuk-hero tel-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="">
            <h1 class="nhsuk-u-margin-bottom-3">Design and build accessible and consistent services for elearning in healthcare</h1>
          </div>
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-u-margin-bottom-3">Use the TEL design system alongside the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a>.</p>
            <p>The TEL Design System enables teams to avoid repetition by learning from the work and experiences of others.</p>
          </div>
        </div>
        {# <div class="nhsuk-grid-column-one-half">
          <img class="tel-hero-img" src="assets/images/hero-image.svg" alt="" role="presentation">
        </div> #}
      </div>
    </div>
  </section>
{% endblock %}

{% block main %}
  <main role="main" id="maincontent">
    {# TODO: Add some content to main #}
  </main>

{% endblock main %}

